.section {
  display: flex;
  height: 100vh;
}

.container-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141416;
}

.wrapper {
  margin: 5rem;
  width: 100%;
  max-width: 45rem;
}

@media (max-width: 1000px) {
  .section {
    flex-direction: column;
  }
}
